*{
  font-family: 'Galindo', cursive;
}
/*------ body ------*/
body {
background-image: url("https://us.123rf.com/450wm/sxwx/sxwx1803/sxwx180300002/96617321-retro-neon-background-with-80s-styled-laser-grid-and-stars-from-vintage-arcade-computer-games.jpg?ver=6");
display: flex;
flex-direction: column;
align-items: center;
}
/*------ tic tack toe ------*/
h1 {
  color: white;
  font-size: 50px;
  line-height: 20px;
}
/*------ scoreboard ------*/
.scoreboard {
  color: white;
  width: 100%;
  margin-top: 5px;
  margin-left: 30%;
  margin-right: 30%;
  border: solid 2px lightblue;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*------ choose a player ------*/
.choose {
  color: white;
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
/*------ message ------*/
h2 {
  color: white;
}

/*------ container ------*/
.container {
  width: 360px;
  height: 360px;
  margin-top: 50px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
/*------ buttons ------*/
input {
  width: 120px;
  height: 120px;
  background-color: white;
  color: black;
  font-size: 50px;
  border: 1.5px solid #3c0f9e;
  border-radius: 4px;
}
input:hover {
  background-color: #346dc9;
  cursor: pointer;
}
/*------ making the grid ------*/
#A1, #B1, #C1 {
  border-left: none;
}
#A1, #A2, #A3 {
  border-top: none;
}
#A3, #B3, #C3 {
  border-right: none;
}
#C1, #C2, #C3 {
  border-bottom: none;
}
/*------ reset-button ------*/
button {
  font-size: 30px;
  margin: 5%;
  width: auto;
  height: auto;
}
